@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --card-color: hsl(225, 100%, 99%);
    --bright-blue: hsl(245, 75%, 52%);
}

body {
    background-color: hsl(225, 100%, 94%);
    font-family: 'Red Hat Display', sans-serif;
    font-size: 16px;
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.card {
    background-color: var(--card-color);
    /* width: 326px; */
    width: clamp(325px, 35%, 450px);
    border-radius: 1rem; 
    overflow: hidden;
}

.hero img {
    width: 100%;
    margin-bottom: 1.6rem;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 85.5%;
    margin-left: auto;
    margin-right: auto;
}

.intro {
    margin-bottom: 2rem;
}

.intro h1 {
    margin-bottom: 1rem;
    font-size: clamp(22.5px, 2.75vw, 29px);
    font-weight: 700;
}

.intro span {
    color: hsl(224, 23%, 65%);
    font-size: 14px;
    font-weight: 100;
    line-height: 1rem;
}

.plan {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    width: 100%;
    height: 5rem;
    background-color: hsl(225, 100%, 98%);
    border-radius: 1rem;
    margin-bottom: 1.5rem;
    font-size: clamp(12px, 2vw, 14px);
}

.plan div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.plan span {
    width: 100%;
    color: hsl(224, 23%, 55%);
}

.payment {
    display: flex;
    flex-direction: column;
    width: 100%;
    
    margin-bottom: 2rem;
}

.payment button {
    width: 100%;
    color: hsl(225, 100%, 98%);
    font-weight: 700;
    font-size: clamp(14px, 2vw, 16px);
    background-color: var(--bright-blue);
    box-shadow: 2px 10px 10px rgba(158, 158, 158, 0.363);
    padding: 1rem 2rem;
    border: none;
    border-radius: 1rem;
    margin-bottom: 1.45rem;
}

.payment button:hover {
    box-shadow: 2px 10px 8px rgba(0, 0, 0, 0.151);
    background-color: hsl(245, 75%, 54%);
    transform: scale(1.012);
}

.payment span {
    color: hsl(224, 23%, 55%);
    font-size: clamp(14px, 2.75vw, 16px);
}

.attribution { 
    font-size: 11px; text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}